*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

application/config/database.php

assets/js/images/Thumbs.db

assets/img/avatars/Thumbs.db

assets/node_modules/

img/Thumbs.dbapplication/config/database.php

assets/ext-4.2.0.663

assets/jarvis

