

#http://www.codeigniter.org.tw/forum/viewtopic.php?f=6&t=2756#p3141

#RewriteRule ^js/([a-z0-9_\.]+)\.js$ /static/js/$1.js [NC,L]

# for js and css http://ellislab.com/forums/viewthread/179645/#850728

RewriteEngine on

#RewriteBase /wine

#RewriteRule ^css/(.*)$ application/views/css/$1 [L]

#RewriteRule ^js/(.*)$ application/views/js/$1 [L]

#RewriteRule ^images/(.*)$ application/views/images/$1 [L]





RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{REQUEST_FILENAME} !-d



RewriteCond $1 !^(index\.php|main\.php|main2\.php|main2\.js|filemanager|media|media/css|media/js|assets|assets/thumbs|assets/js/DataTables-1.9.4/media/images|assets/js/DataTables-1.9.4/media/css|images|img|includes|robots\.txt|$)



#RewriteCond $1 !^(index\.php|images|robots\.txt|application\/views)



RewriteRule ^(.*)$ index.php/$1 [L,QSA]









