
<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
	  <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	  <title></title>
	  <meta name="description" content="">
	  <meta name="viewport" content="width=device-width">

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<!--
		-->
		<link rel="stylesheet" href="<?php echo base_url(); ?>assets/css/bootstrap.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="<?php echo base_url();?>assets/css/bootstrap-responsive.min.css">
		<!--
		<link href="<?php echo base_url(); ?>assets/css/page.css" rel="stylesheet"  />
		<link rel="stylesheet" href="<?php echo base_url() ?>assets/css/base.css" type="text/css" media="screen" />
		-->
		<script  src="<?php echo base_url() ?>assets/js/jquery-1.9.0.js"></script>

		<!--
		<script language="javascript" src="<?php echo base_url() ?>assets/js/main.js" ></script>
		-->
		<script src="<?php echo base_url(); ?>/assets/js/vendor/bootstrap.min.js"></script>
		
		
		<title>title</title>

	</head>


<body>
<div class="container">
	<div class="row"></br></br></div>
	<div class="container-fluid">
                        <div class="row-fluid">
                                <div class="span2">
                                        <img class="media-object" data-src="holder.js/140x140"  alt="140x140" >
                                </div>
                                <div class="span10">
                                        <div class="row-fluid">
                                                <p><h3>company name</h3></p>
                                                <div class="span4">
                                                        <legend>Legend</legend>
                                                        <p>
                                                                <a href=#><span class="label label-success">企業分類</span></a></br>
                                                                <i class="icon-envelope"></i><strong>Email:</strong>aaa@a.b.c</br>
                                                                <i class="icon-globe"></i><strong>網址:</strong>www.aaa.bbb.ccc</br>
                                                                
                                                        </p>
                                                </div>
                                                <div class="span1"></div>
                                                <div class="row-fluid">
                                                        <div class="span6">
                                                                <legend>Legend</legend>
                                                                <a href=#><span class="label label-info">華東</span></a>
                                                                <a href=#><span class="label">江蘇</span></a></br>
                                                                <strong>地址:</strong><a href=#><span>江蘇xxxxxxxxxxxxxxxxxxxxxxxxxxx</span></a>
                                                        </div>
                                                </div>
                                                <div class="row-fluid">
                                                        &nbsp;&nbsp;
                                                </div>
                                        </div>
                                        <div class="row-fluid">
                                                        <p></p>        
                                                        <div class="span6">
                                                                
                                                        <legend>Detail</legend>
                                                        <div class="">
                                                                <ul class="nav nav-tabs" id="company_tab" >
                                                                  <li><a href="#home" data-toggle="tab">聯絡人</a></li>
                                                                  <li><a href="#profile" data-toggle="tab">經營商品</a></li>
                                                                </ul>
                                                                <div class="tab-content" >
                                                                        
                                                                        <div class="tab-pane active in " id="home">
                                                                                <table class="table table-striped">
                                                                                        <thead>
                                                                                <tr>
                                                                                  <th>#</th>
                                                                                  <th>姓名</th>
                                                                                  <th>性別</th>
                                                                                  <th>職稱</th>
                                                                                  <th>Tel</th>
                                                                                </tr>
                                                                             </thead>
                                                                             <tbody>
                                                                                     <tr>
                                                                                             <td><span class="label label-important">主要</span></td>
                                                                                             <td>name</td>
                                                                                             <td>man</td>
                                                                                             <td>manager</td>
                                                                                             <td>223441</td>
                                                                                     </tr>
                                                                                     <tr>
                                                                                             <td></td>
                                                                                             <td>name</td>
                                                                                             <td>man</td>
                                                                                             <td>manager</td>
                                                                                             <td>223441</td>
                                                                                     </tr>
                                                                                     <tr>
                                                                                             <td></td>
                                                                                             <td>name</td>
                                                                                             <td>man</td>
                                                                                             <td>manager</td>
                                                                                             <td>223441</td>
                                                                                     </tr>
                                                                             </tbody>
                                                                                </table>
                                                                        </div>
                                                                
                                                                        <div class="tab-pane " id="profile">
                                                                                <div>
                                                                                        <address>
                                                                                          <strong>Twitter, Inc.</strong><br>
                                                                                          795 Folsom Ave, Suite 600<br>
                                                                                          San Francisco, CA 94107<br>
                                                                                          <abbr title="Phone">P:</abbr> (123) 456-7890
                                                                                        </address>
                                                                                </div>                
                                                                        </div>
                                                                </div>
                                                                </div>

                                                        </div>                                        

                                                </div>                                        
                                </div>
                        </div>
	
	
</div><!-- container -->

</body>

</html>