body, ul, li {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 21px;
	text-align: left;
}

.small {
	font-size: 10px;
	padding: .1em .5em .1375em;
}

.button {
	color: white;
	display: inline-block;
	zoom: 1;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.button:active {
	position: relative;
	top: 1px;
}


#menu_header {
	list-style: none;
	width: 940px;
	margin: 30px auto 0px auto;
	height: 43px;
	padding: 0px 20px 0px 20px;
	/* Rounded Corners */

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	/* Background color and gradients */

	background: #000;
	
	/*
	background: -moz-linear-gradient(top, #fff, #ededed);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ededed));
	*/
	
	background: -moz-linear-gradient(top, #fff, #dcdcdc);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#dcdcdc));
	/* Borders */

	/*border: 1px solid #002232;*/
	border:solid 1px #b7b7b7;
	/*
	-moz-box-shadow: inset 0px 0px 1px #edf9ff;
	-webkit-box-shadow: inset 0px 0px 1px #edf9ff;
	box-shadow: inset 0px 0px 1px #edf9ff;
	*/
	color:#606060;
}

#menu_header:hover {
	background: -moz-linear-gradient(top, #dcdcdc, #fff);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dcdcdc), to(#fff));
	
}

#menu_header li {
	float: left;
	display: block;
	text-align: center;
	position: relative;
	padding: 4px 10px 4px 10px;
	margin-right: 30px;
	margin-top: 7px;
	border: none;
	
	
}

#menu_header li:hover .drop
{
	
	
}

#menu_header li div ul:hover .more {
	visibility: visible;
}


#menu_header li:hover {
	
	border: 1px solid #777777;
	padding: 4px 9px 4px 9px;
	
	/* Background color and gradients */

	background: #F4F4F4;
	
	/*
	background: -moz-linear-gradient(top, #F4F4F4, #EEEEEE);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4F4F4), to(#EEEEEE));
	
	
	background: -moz-linear-gradient(top, #fff, #dcdcdc);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#dcdcdc));
	*/
	/* Rounded corners */

	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	padding-bottom:10px;
	
	border-bottom:none;
	z-index:10;
	
	background-color:#777777;
	color:#777777;
	/*
	color:#F4F4F4;
	color:#fff;*/
}

#menu_header li a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	/* color: #EEEEEE; */
	display: block;
	outline: 0;
	text-decoration: none;
	text-shadow: 1px 1px 1px #fff;
	color:black;
	
}

#menu_header li:hover .drop  {
	/* color: #161616; 
	 * text-shadow: 1px 1px 1px #fff;
	*/
	text-shadow:1px 1px 1px #000;	
	color:white;
	
}
#menu_header li .drop {
	padding-right: 21px;
	background: url("img/drop.png") no-repeat right 8px;
}
#menu_header li :hover .drop,.drop:hover {
	background: url("img/drop2.jpg") no-repeat right 7px;
	
	
}



.dropdown_1column, .dropdown_2columns, .dropdown_3columns, .dropdown_4columns, .dropdown_5columns {
	margin: 4px auto;
	float: left;
	position: absolute;
	left: -999em; /* Hides the drop down */
	text-align: left;
	padding: 10px 5px 12px 5px;
	border: 1px solid #777777;
	/*border-top: none;*/  
	/* Gradient background */
	
	background: #F4F4F4;
	background: -moz-linear-gradient(top, #EEEEEE, #BBBBBB);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#BBBBBB));
	/* Rounded Corners */
	-moz-border-radius: 0px 5px 5px 5px;
	-webkit-border-radius: 0px 5px 5px 5px;
	border-radius: 0px 5px 5px 5px;
}



.dropdown_1column {
	width: 140px;
}
.dropdown_2columns {
	width: 280px;
}
.dropdown_3columns {
	width: 420px;
}
.dropdown_4columns {
	width: 560px;
}
.dropdown_5columns {
	width: 700px;
	
}

#menu li:hover .dropdown_1column, #menu li:hover .dropdown_2columns, #menu li:hover .dropdown_3columns, #menu li:hover .dropdown_4columns, #menu li:hover .dropdown_5columns {
	left: -1px;
	top: auto;
}



.col_1, .col_2, .col_3, .col_4, .col_5 {
	display: inline;
	float: left;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
}
.col_1 {
	width: 130px;

}
.co1_1 ul:hover li a.more {
	display: block;
	visibility: visible;
}
.col_2 {
	width: 270px;
}
.col_3 {
	width: 410px;
}
.col_4 {
	width: 550px;
}
.col_5 {
	width: 690px;
}

#menu_header .menu_right {
	float: right;
	margin-right: 0px;
}
#menu_header li .align_right {
	/* Rounded Corners */
	-moz-border-radius: 5px 0px 5px 5px;
	-webkit-border-radius: 5px 0px 5px 5px;
	border-radius: 5px 0px 5px 5px;
}

#menu_header li:hover .align_right {
	left: auto;
	right: -1px;
	top: auto;
}

#menu_header p, #menu h2, #menu h3, #menu ul li {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 21px;
	font-size: 12px;
	text-align: left;
	text-shadow: 1px 1px 1px #FFFFFF;
}
#menu_header h2 {
	font-size: 21px;
	font-weight: 400;
	letter-spacing: -1px;
	margin: 7px 0 14px 0;
	padding-bottom: 14px;
	border-bottom: 1px solid #666666;
}
#menu_header h3 {
	font-size: 14px;
	margin: 7px 0 14px 0;
	padding-bottom: 7px;
	border-bottom: 1px solid #888888;
}
#menu_header p {
	line-height: 18px;
	margin: 0 0 10px 0;
}

#menu_header li:hover div a {
	font-size: 14px;
	color: #015b86;
}
#menu_header li:hover div a:hover {
	color: #029feb;
}

.strong {
	font-weight: bold;
}
.italic {
	font-style: italic;
}

.imgshadow { /* Better style on light background */
	background: #FFFFFF;
	padding: 4px;
	border: 1px solid #777777;
	margin-top: 5px;
	-moz-box-shadow: 0px 0px 5px #666666;
	-webkit-box-shadow: 0px 0px 5px #666666;
	box-shadow: 0px 0px 5px #666666;
}
.img_left { /* Image sticks to the left */
	width: auto;
	float: left;
	margin: 5px 15px 5px 5px;
}

#menu_header li .black_box {
	background-color: #333333;
	color: #eeeeee;
	text-shadow: 1px 1px 1px #000;
	padding: 4px 6px 4px 6px;
	/* Rounded Corners */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	/* Shadow */
	-webkit-box-shadow: inset 0 0 3px #000000;
	-moz-box-shadow: inset 0 0 3px #000000;
	box-shadow: inset 0 0 3px #000000;
}

#menu_header li ul {
	list-style: none;
	padding: 0;
	margin: 0 0 12px 0;
}


#menu_header li ul li {
	font-size: 14px;
	line-height: 24px;
	position: relative;
	text-shadow: 1px 1px 1px #ffffff;
	padding: 0;
	margin: 0;
	float: none;
	text-align: left;
	width: 130px;
}
#menu_header li ul li:hover {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
}

#menu_header li .greybox li {
	background: #F4F4F4;
	border: 1px solid #bbbbbb;
	margin: 0px 0px 4px 0px;
	padding: 4px 6px 4px 6px;
	width: 116px;
	/* Rounded Corners */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
#menu li .greybox li:hover {
	background: #ffffff;
	border: 1px solid #aaaaaa;
	padding: 4px 6px 4px 6px;
	margin: 0px 0px 4px 0px;
}



#menu_header  a{
	
	color:red;
	font-weight: 500;
	
}


a.more {
	
	
	text-decoration: underline;
	color: #fef4e9;
	/*color: white;*/
	
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top, #faa51a, #f47a20);
	filter: progid :DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');

	/*
	 -webkit-border-radius: .8em;
	 -moz-border-radius: .8em;
	 border-radius: .8em;
	 */
	width: 4em;
	border-width: 0;
	background: transparent;
	display: none;
	visibility: hidden;
	
}

#menu_header li:hover div a.more:hover ,#menu li div a.more 
{
	color: #f47c20;
}
.more:hover {
	
	/*
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top, #f88e11, #f06015);
	background: transparent;
	filter: progid :DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
	border: 0 0 0 2px;
	border-bottom-width: 3px;
	border-color: #f47c20;
	border-bottom-style: inset;
	/* color:#f47c20;*/
	color: #fef4e9;
}

#dv-active-rfq-list
 {
 	z-index:1001;
	padding: 10px 5px 10px 5px;
	padding:0;
	padding-bottom:10px;
 	
 	height:350px;
 	width:600px;
 	left:-600px;
 	
 	left:200px;
 	top:100px;
 	width:800px;
 	margin:0 auto;
 	
	display:inline-table;
 	display:block;
	 	
	text-align: left;
	border: 1px solid #777;
	
	
	/* Gradient background 
	background: #F4F4F4;
	background: #000;*/
	background: -moz-linear-gradient(top, #eee, #ccc);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ccc));
	
	/* Rounded Corners */ 
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
		
	box-shadow: -10px -5px 15px 2px rgba(25%,25%,45%,0.5);
	
 }
 
 #dv-active-rfq-list .closediv::before  { content: "\2716"; }
 #dv-active-rfq-list .closediv
 {
 	
 	display:block;
 	position:absolute;
 	right:-5px;
 	top:-10px;
 	background-color:#fff;
 	cursor:pointer;
 	
 	width:20px;
 	height:20px;
 	padding:5px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	text-align:center;
	border:gray solid 1px;

	-webkit-box-shadow:  5px 5px 7px rgba(20%,20%,40%,0.5);
	-moz-box-shadow:  5px 5px 7px rgba(20%,20%,40%,0.5);
	box-shadow:  5px 5px 7px rgba(20%,20%,40%,0.5);
	
	
	background-color: #fff; /* Fallback */
	/*
	background: -moz-linear-gradient(bottom, #fff, rgba(255,255,255,0.1) );
	background: -webkit-gradient(radial, left bottom, right top, from(#ccc), color-stop(100%, #fff));
	
	background: -moz-radial-gradient(center 45deg,circle cover, #f9d0be, #c8171f);
	background: -webkit-gradient(radial, 40% 40%, 0, 40% 40%, 100, from(#ccc), to(#fff));
	background: -webkit-gradient(radial, center, center,from(white),to(gray));
	*/	 
	background-image: -webkit-radial-gradient(center white black);
	
	
 }
 
 #dv-active-rfq-list .closediv:hover
 {
	background-color: #fff; /* Fallback */
	
	background: -moz-linear-gradient(bottom, #fff, rgba(255,255,255,0.1) );
	
	
	background: -webkit-gradient(radial, center,from(white), color-stop(100%, black));
	box-shadow:   2px 2px 2px rgba(20%,20%,40%,0.5); 
 }
 
 
 #dv-active-rfq-list h3
 {
 	font-size:14px;
 	
	width:200px;
 	
 	/*
	background: -moz-linear-gradient(top, #25649F, #eee);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#25649F), to(#eee));
	*/
	background-color:#25649F;

 	top:0px;
 	position:relative;
 	
 	padding-left:10px;
 	
 	margin-top:-20px;
 	margin-left:-10px;
 	
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	
	

 	display:block;
	 	
	text-align: left;
	border: 1px solid #777;
	
	
	/* Gradient background 
	background: #F4F4F4;
	background: #000;*/
	background: -moz-linear-gradient(top, #EEEEEE, #BBBBBB);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#BBBBBB));

	background: -moz-linear-gradient(top, #eee, #ccc);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ccc));
	
	/* Rounded Corners */
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	
	
	-webkit-box-shadow: 5px 5px 2px rgba(20%,20%,40%,0.5);
	-moz-box-shadow: 5px 5px 2px rgba(20%,20%,40%,0.5);
	box-shadow:  5px 5px 2px rgba(20%,20%,40%,0.5);
	
 }
 



#tb-rfq-list {
    position: relative;
    
}
/*
thead {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
tfoot {
    position: absolute;
    bottom: 0;
    left: 0;
}
*/ 

.tooltip{
    display: inline;
    position: relative;
}


